<header>
  <nav class="container">
    <ul>
      <li [class.active]="isActive('/home')"><a routerLink="/">Home</a></li>
      <li [class.active]="isActive('/school-form')">
        <a routerLink="/school-form">Formulário</a>
      </li>
      <li [class.active]="isActive('/about')">
        <a routerLink="/about">Sobre</a>
      </li>
      <li [class.active]="isActive('/gallery')">
        <a routerLink="/gallery">Galeria</a>
      </li>
      <li [class.active]="isActive('/movies')">
        <a routerLink="/movies">Filmes</a>
      </li>
    </ul>
  </nav>
</header>
