<main class="container">
  <h1>Curiosidades sobre Harry Potter</h1>
  <ul>
    <li>A família Weasley possui uma coruja chamada Edwiges.</li>
    <li>
      O Patrono de Harry Potter é um cervo, semelhante ao de seu pai, Tiago
      Potter.
    </li>
    <li>
      O feitiço "Accio" é usado para convocar objetos para o bruxo que o
      conjurou.
    </li>
    <li>
      O Quadribol é um esporte praticado no mundo bruxo, envolvendo vassouras
      voadoras e bolas mágicas.
    </li>
  </ul>
</main>
