.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100vh;
}

h2 {
  margin: 0;
  text-align: center;
}

.form-registration {
  width: 100%;
}

.divider {
  height: 70%;
  width: 1px;
  background-color: var(--primary);
  margin: 0 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.preview {
  display: flex;
  flex-direction: column;
  width: 100%;
}
