<main class="container">
  <h1>Responda as Perguntas sobre Harry Potter</h1>
  <button class="btn-default" *ngIf="!question" (click)="startGame()">
    Iniciar
  </button>
  <section
    *ngIf="question && userAnswers.length < questions.length"
    class="quiz-section"
  >
    <h2>{{ question }}</h2>
    <div class="quiz-answers">
      <ol type="A">
        <li
          [ngClass]="
            isChosenAlternative(question, answer)
              ? 'alternative-chosen alternative'
              : 'alternative'
          "
          *ngFor="let answer of getAlternatives(question)"
          (click)="selectAnswer(question, answer)"
        >
          {{ answer }}
        </li>
      </ol>
    </div>
    <section class="btns-container">
      <button class="btn-default" (click)="backQuestion()">Voltar</button>
      <button class="btn-default" (click)="nextQuestion()">Próxima</button>
    </section>
    <p>Pontuação:</p>
    <p>resposta certa: 10 pontos</p>
    <p>resposta errada: -5 pontos</p>
  </section>
  <h3 *ngIf="userAnswers.length >= questions.length">
    Pontuação final: {{ score }}
  </h3>
  <button
    class="btn-default"
    *ngIf="userAnswers.length >= questions.length"
    (click)="restartGame()"
  >
    Recomeçar quiz
  </button>
</main>
