<main class="container">
  <h1>Responda as Perguntas sobre Harry Potter</h1>
  <button class="btn-default" *ngIf="!question" (click)="startGame()">
    Iniciar
  </button>
  <section
    *ngIf="question && userAnswers.length < questions.length"
    class="quiz-section"
  >
    <h2>{{ question }}</h2>
    <div class="quiz-answers">
      <ol type="A">
        <li
          class="alternative"
          *ngFor="let answer of getAlternatives(question); index as i"
          (click)="selectAnswer(answer, i)"
        >
          {{ answer }}
        </li>
      </ol>
    </div>
    <section class="btns-container">
      <button class="btn-default" (click)="backQuestion()">Voltar</button>
      <button class="btn-default" (click)="nextQuestion()">Próxima</button>
    </section>
  </section>
  <h3 *ngIf="userAnswers.length >= questions.length">
    Pontuação final: {{ score }}
  </h3>
</main>
