<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>Seus Dados</h2>
  <div class="field">
    <label for="name">Nome</label>
    <input type="text" id="name" formControlName="name" />
  </div>

  <div class="field-group">
    <div class="field">
      <label for="birthDate">Data de Nascimento</label>
      <input type="date" id="birthDate" formControlName="birthDate" />
    </div>

    <div class="field">
      <label for="house">Casa Desejada</label>
      <select id="house" formControlName="house">
        <option *ngFor="let house of options" [ngValue]="house.value">
          {{ house.label }}
        </option>
      </select>
    </div>
  </div>

  <div class="btn-submit-container">
    <button
      class="btn-default"
      type="submit"
      [disabled]="!registrationForm.valid"
    >
      Enviar
    </button>
  </div>
</form>
