h2 {
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field input,
select {
  background-color: var(--secondary);
  padding: 10px;
  border: none;
  color: var(--text);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Yusei Magic", sans-serif;
}

.field-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.btn-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

select {
  cursor: pointer;
}
