.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100vh;
}

h2 {
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field input,
select {
  background-color: var(--secondary);
  padding: 10px;
  border: none;
  color: var(--text);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Yusei Magic", sans-serif;
}

.divider {
  height: 70%;
  width: 1px;
  background-color: var(--primary);
  margin: 0 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.preview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-submit {
  border-style: none;
  cursor: pointer;
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--primary);
  font-size: 1.25rem;
  font-family: "Yusei Magic", sans-serif;
  transition: 0.3s;
}

.btn-submit:hover {
  text-shadow: 0px 1px 15px var(--primary);
}

.btn-submit:disabled {
  opacity: 0.5;
  pointer-events: none;
}
