<main class="container">
  <h1>Formulário de Inscrição para Hogwarts</h1>
  <section class="content">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h2>Seus Dados</h2>
      <div class="field">
        <label for="name">Nome</label>
        <input type="text" id="name" formControlName="name" />
      </div>

      <div class="field">
        <label for="birthDate">Data de Nascimento</label>
        <input type="date" id="birthDate" formControlName="birthDate" />
      </div>

      <div class="field">
        <label for="house">Casa Desejada</label>
        <select id="house" formControlName="house">
          <option value="gryffindor">Grifinória</option>
          <option value="slytherin">Sonserina</option>
          <option value="ravenclaw">Corvinal</option>
          <option value="hufflepuff">Lufa-Lufa</option>
        </select>
      </div>

      <div class="btn-submit-container">
        <button
          class="btn-submit"
          type="submit"
          [disabled]="!registrationForm.valid"
        >
          Enviar
        </button>
      </div>
    </form>
    <div class="divider"></div>
    <section class="preview">
      <h2>Sua Matricula</h2>
      <p>
        Nome: <span id="previewNome">{{ name?.value }}</span>
      </p>
      <p>
        Data de Nascimento:
        <span id="previewDataNascimento">{{ birthDate?.value }}</span>
      </p>
      <p>
        Casa Desejada: <span id="previewCasa">{{ house?.value }}</span>
      </p>
    </section>
  </section>
</main>
