.description {
  display: flex;
  gap: 20px;
}

.img-container {
  width: 100%;
  max-width: 736px;
  height: 100%;
  max-height: 736px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.description p {
  width: 100%;
  max-width: 455px;
  text-align: justify;
}

@media (max-width: 1039px) {
  .description {
    flex-direction: column;
    gap: 0;
  }

  .description p {
    width: 100%;
    max-width: 100%;
    text-align: justify;
  }
}
