:root {
  --text: #ebedf0;
  --background: #202a43;
  --primary: #c3872c;
  --secondary: #28407d;
  --accent: #315ed2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Yusei Magic", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

header,
h1 {
  font-family: "Metal Mania", system-ui;
}

main {
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.btn-default {
  border-style: none;
  cursor: pointer;
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--primary);
  font-size: 1.25rem;
  font-family: "Yusei Magic", sans-serif;
  transition: 0.3s;
}

.btn-default:hover {
  text-shadow: 0px 1px 15px var(--primary);
}

.btn-default:disabled {
  opacity: 0.5;
  pointer-events: none;
}
